.loginBtn {
  height: 45px;
  background-color: rgb(144, 158, 219);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 60%;
  margin: 12px auto;
}

.login-info {
  background-color: blanchedalmond;
  color: blue;
}
